.navbar {
	padding: .5rem 0;
	.navbar-nav {
		.navbar-item {
			padding: 0 1rem;
			&:last-child {
				padding-right: 0;
			}
			a {
				color: $primary;
				border: 2px solid transparent;
				font-size: 1rem;
				&:hover {
					color: $primary-hover;
					border: 2px solid $primary-hover;
				}
			}
		}
	}
	.menu-toggle {
		font-size: 3rem;
	}
}