.navbar {
	padding: .5rem 0;
	a {
		color: $primary;
		&:hover {
			color: $primary-hover;
		}
	}
	.navbar-nav {
		.navbar-item {
			padding: 0 1rem;
			&:last-child {
				padding-right: 0;
			}
		}
	}
	.menu-toggle {
		font-size: 3rem;
	}
}