//
// Color pallette
//
$white: #fff;
$black: #000;
$grey: #eee;

//
// Branding
//
$primary: #1e824c;
$primary-hover: #004c23;
$secondary: #10435f;
$secondary-hover: #032d44;

//
// Text
//
$primary-text: #484848;
$primary-link: #1e824c;
$primary-link-hover: #004c23;

//
// Default components
//
$border: #ddd;