//
// Color pallette
//
$white: #fff;
$black: #000;
$grey: #eee;

// Theme colors
$primary: #1e824c;
$primary-hover: #004c23;
$secondary: #10435f;
$secondary-hover: #032d44;

//
// Default components
//
$border: #ddd;